<!doctype html>

<html lang="en">
	<head>
  		<meta charset="utf-8">

  		<title>Welcome To Kar Rentel Homepage</title>
  		<meta name="description" content="The HTML5 Herald">
  		<meta name="author" content="SitePoint">

		<script type="text/javascript" src="libraries/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="js/timepicker/jquery.timepicker.min.js"></script>
		<script type="text/javascript" src="js/datepicker/moment.min.js"></script>
		<script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>
  		<script src="js/script.js"></script>

		<!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="libraries/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="js/timepicker/jquery.timepicker.css">
		<link rel="stylesheet" href="js/datepicker/daterangepicker.css">
  		<link rel="stylesheet" href="css/style.css">

		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
        <div class="content">
            <h1>Kar Rentel</h1>
            <ul class="main-menu">
                <li>
                    <a href="index.php">Home</a>
                </li>
                <li>
                    <a href="sale_add.php">Find Car</a>
                </li>
            </ul>
            <hr>
